/* components/Toast.css */
.toast {
  background-color: #ffffff;
  color: #fff;
  padding: 10px 10px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.toast.show {
  opacity: 1;
}

.toast-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  flex: 1;
  margin-right: 10px;
}

.action-button,
.close-button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

.action-button:hover,
.close-button:hover {
  text-decoration: underline;
}

.toast.success {
  border: 1px solid #66e7c6;
}
.toast.warning {
  border: 1px solid #ffa2a2;
}
.toast.custom {
  border: 1px solid #fff;
}
.rounded-full {
  border-radius: 50%;
}
.mr-2 {
  margin-right: 0.25rem;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: start;
}
.align-items-start {
  align-items: start;
}

.toast .success-header {
  color: #00ac80;
  font-size: 14px;
  font-weight: 600;
}
.success-message {
  color: #00ac80;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.success-button {
  border: 1px solid #000000;
  background-color: #00ac80;
  padding: 7px 15px;
  border-radius: 500px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.toast .warning-header {
  color: rgba(255, 100, 100, 1);
  font-size: 14px;
  font-weight: 600;
}
.warning-message {
  color: rgba(255, 100, 100, 1);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.warning-button {
  border: 1px solid #000000;
  background-color: rgba(255, 100, 100, 1);
  padding: 7px 15px;
  border-radius: 500px;
  font-weight: 600;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
.toast .custom-header {
  color: #111928;
  font-size: 14px;
  font-weight: 600;
}
.custom-message {
  color: #6b7280;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.custom-button {
  border: 1px solid #000000;
  background-color: #ffff00;
  padding: 7px 15px;
  border-radius: 500px;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
  cursor: pointer;
}
